*{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 700px;
    margin: auto;
    padding:20px 50px 0;
    border-bottom: 1px solid #0aece19c;
    color: aliceblue;
    position: relative;
}
.container2{
    max-width: 700px;
    margin: auto;
    padding:10px 50px;
    color: aliceblue;
    position: relative;
}
.container .btn{
    position: absolute;
    top: 20px;
    right: 50px;
}
.container2 .btn{
    position: absolute;
    top: 20px;
    right: 50px;
}
.btn button{
    border: none;
    background-color: aquamarine;
    padding: 2px 15px;
    font-weight: 900;
}
.container p{
    padding: 0 30px;
}

.love{
    color: red;
}